<style type="text/css">
    #about_div_title, #about_div_table {
        display: flex;
        justify-content: center;
    }

    #about_title {
        font-size: 2rem;
    }

    #about_table {
        font-size: 1.2rem;
    }

    #about_table {
        text-align: center;
        table-layout:fixed;
    }


    #about_table tr:nth-child(odd) { 
        background-color: ivory;
    }

    #about_table tr:nth-child(even) { 
        background: #fff;
    }

    #about_table td {
        word-wrap:break-word;
        word-break:break-all;
        height: 5rem;
    }

    #about_table tr td:nth-child(1) {
        width: 10rem;
    }

    #about_table tr td:nth-child(2) {
        width: 45rem;
    }

</style>


<div id="about_div_title">
    <p id="about_title">关于“五子棋”</p>
</div>

<div id="about_div_table">
    <table id="about_table">
        <tr>
            <td>版本</td>
            <td>v1.0</td>
        </tr>
        <tr>
            <td>前端</td>
            <td>一位不愿透露姓名的李女士</td>
        </tr>
        <tr>
            <td>后端</td>
            <td>userpro（gayhub）</td>
        </tr>
        <tr>
            <td>logo</td>
            <td><img src="miao1.jpg" alt="miao"></td>
        </tr>
    </table>