<style type="text/css">
    #battle_main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #battle_play_info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 1.1rem;
        text-align: center;
    }

    #battle_play_info_blank {
        width: 44%;
    }

    #enemy_name, #my_name {
        font-size: 1.3rem;
        color: green;
        width: 250px;
        text-shadow: 1px 1px darkgreen;

        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        text-overflow: ellipsis;/* IE/Safari */
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;/* Opera */
        -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
    }


    #battle {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #battle_div_cvs {
        display: flex;
        justify-content: center;
    }

    #battle_cvs {
        border: 2px solid #000;
    }

    #battle_div_chess, #battle_div_tips, #battle_div_room_num {
        display: flex;
        justify-content: center;
    } 

    #battle_chess, #battle_room_num {
        font-size:18px;
    }

    #battle_tips {
        font-size:1.5rem;
        margin-top: 0;
    }

    #battle_button {
        width: 160px;
        height: 80px;
    }

    #battle_button:hover {
        width: 155px;
        height: 75px;
    }

</style>
<div id="battle_main">
    <div id="battle_play_info">
        <div id="enemy_info">
            <p id="enemy_name">对手昵称：对手！</p>
        </div>
        <div id="battle_play_info_blank"></div>
        <div id="div_my_name">
            <p id="my_name">我的昵称：尼玛！</p>
        </div>        
    </div>

    <div id="battle">
        <div id="battle_div_room_num"><p id="battle_room_num"></p></div>
        <div id="battle_div_cvs"><canvas id="battle_cvs"></canvas></div>
        <div id="battle_div_chess"><p id="battle_chess"></p></div>
        <div id="battle_div_tips"><p id="battle_tips"></p></div>
        <div class="div_button"><button class="button" id="battle_button">返回首页</button></div>
    </div>
</div>
<script>
    (function() {

        $('#my_name').text('我的昵称：'+user_name);

        var COLOR = 'lightblue';
        var GRID_SIZE = 50;
        var HORIZONTAL_SIZE = 18;
        var VERTICAL_SIZE = 13;
        var checkerboard = [];
        var chess_list = []; // 棋谱

        var cvs = document.getElementById('battle_cvs');
        var ctx = cvs.getContext('2d');

        cvs.width = GRID_SIZE * HORIZONTAL_SIZE;
        cvs.height = GRID_SIZE * VERTICAL_SIZE;


        //画布坐标 转换为服务器坐标后传输
        function play_one(chess, x, y) {
            var data = {
                chess: chess, // 1白棋 2黑棋
                x: y, // 当前下的x坐标
                y: x  // 当前下的y坐标
            };
            socket.emit('play_one', data);
        }

        function init() {
            socket.emit('player_info');
            socket.emit('room_info');
            for(var i = -5; i < HORIZONTAL_SIZE + 5; i++) {
                checkerboard[i] = [];
                for (var j = -5; j < VERTICAL_SIZE + 5; j++)
                {
                    checkerboard[i][j] = {
                        state: 0,
                        type: true
                    };
                }
            }
            drawCheckerboard();
            cvs.onclick = putChess;
        }

        /*画棋盘*/
        function drawCheckerboard() {
            for (var i = 0; i < HORIZONTAL_SIZE; i++)
            {
                for (var j = 0; j < VERTICAL_SIZE; j++)
                {
                    ctx.beginPath();
                    //边框颜色
                    ctx.strokeStyle = '#000';
                    ctx.fillStyle = COLOR;
                    ctx.fillRect(i*GRID_SIZE, j*GRID_SIZE, GRID_SIZE, GRID_SIZE);
                    ctx.strokeRect(i*GRID_SIZE, j*GRID_SIZE, GRID_SIZE, GRID_SIZE);
                    ctx.closePath();
                }
            }
        }

        /**
        * 恢复棋子背景色
        * @param {*} x
        * @param {*} y
        */

        function reDrawArc(x, y, chess) {
            ctx.beginPath();
            ctx.strokeStyle = '#000'; //边框颜色
            ctx.fillStyle = COLOR; // 深蓝
            ctx.fillRect(x*GRID_SIZE, y*GRID_SIZE, GRID_SIZE, GRID_SIZE);
            ctx.strokeRect(x*GRID_SIZE, y*GRID_SIZE, GRID_SIZE, GRID_SIZE);

            // 画棋子
            ctx.arc(x*GRID_SIZE + GRID_SIZE/2, y*GRID_SIZE + GRID_SIZE/2, (GRID_SIZE/ 2) * 0.8, 0, 2*Math.PI);
            ctx.fillStyle = (chess == 2?  '#000': '#eee');
            ctx.fill();
            ctx.closePath();

        }

        /**
        * 画棋子并改变棋子背景色
        * @param {*} x
        * @param {*} y
        */

        function drawArc(x, y, chess) {
            // 恢复上一次下棋的背景色
            if (chess_list.length > 0)
                reDrawArc(chess_list[chess_list.length-1].x, chess_list[chess_list.length-1].y, chess_list[chess_list.length-1].chess);

            ctx.beginPath();
            ctx.strokeStyle = '#000'; //边框颜色
            // 画当前下棋子的背景色
            ctx.fillStyle = '#6A5ACD'; // 深蓝
            ctx.fillRect(x*GRID_SIZE, y*GRID_SIZE, GRID_SIZE, GRID_SIZE);
            ctx.strokeRect(x*GRID_SIZE, y*GRID_SIZE, GRID_SIZE, GRID_SIZE);

            // 画棋子
            ctx.arc(x*GRID_SIZE + GRID_SIZE/2, y*GRID_SIZE + GRID_SIZE/2, (GRID_SIZE/ 2) * 0.8, 0, 2*Math.PI);
            ctx.fillStyle = (chess == 2?  '#000': '#eee');
            ctx.fill();
            ctx.closePath();

            checkerboard[x][y].state = 1;
            checkerboard[x][y].type = is_white;

            chess_list.push({
                x: x,
                y: y,
                chess: chess
            });
        }


        /**
        * 放置棋子
        * @param {*} e
        */
        function putChess(e) {
            //当前鼠标点击位置
            var x = e.pageX - cvs.offsetLeft;
            var y = e.pageY - cvs.offsetTop;

            //落在哪个格子
            x = parseInt(x/GRID_SIZE);
            y = parseInt(y/GRID_SIZE);

            //有棋子
            if(checkerboard[x][y].state) 
                return;

            play_one(is_white ? 1 : 2, x, y);

        }

        socket.off('player_info');
        socket.on('player_info', function(data){
            is_white = data.chess == 1 ? true : false;
            var chessType = is_white == true? '白棋': '黑棋';
            $('#battle_chess').text('您的身份是：'+ chessType);
            $('#battle_tips').text('现在轮到黑棋落子');
            //console.log('chess ' + chess);
        });

        socket.off('room_info');
        socket.on('room_info', function(data){
            if (is_white)  //我白
                enemy_name = data.black.uname;
            else
                enemy_name = data.white.uname;
            $('#enemy_name').text('对手昵称：'+enemy_name);
            $('#battle_room_num').text('房间号：'+data.room_number);
        });

        socket.off('play_one');
        socket.on('play_one', function(data){
            var chess = data.chess; // 1白棋 2黑棋
            var play_one = data.state; // -1下棋失败 6胜利 9继续下
            console.log(play_one);

            //收到服务器坐标 转换为画布坐标
            var x = data.y;
            var y = data.x;
            
            if (play_one == 9)
            {   
                drawArc(x, y, chess);
                $('#battle_tips').text(chess == 2 ? '现在轮到白棋落子': '现在轮到黑棋落子');
            }
            else if (play_one == 6)
            {
                drawArc(x, y, chess);
                $('#battle_tips').text(chess == 2 ? '黑棋胜': '白棋胜');
                cvs.onclick = null;
            }
        });
        
        socket.off('play_break');
        socket.on('play_break', function(){
            // console.log('play_break');
            alert('对手已离开，您可在此房间等待下一对手 或者 回到首页')
            $('#battle_tips').text('对手已离开！');
            cvs.onclick = null;
        });

        $('.div_button').off('click');
        $('.div_button').on('click', '#battle_button', function(){
            if (exit_confirm(nav_click1));
        });

        init();
        player_status = 1;

        alert('游戏开始！');

    })();

</script>