<style type="text/css">

    * {
        box-sizing: border-box;
    }

    #chat_window {
        display: flex;
        justify-content: center;
        list-style-type: none;
        box-sizing: border-box;
        font-size: 2rem;
        margin-left: 100px;
    }

    #chat_messages {
        display: flex;
        flex-direction: column;
        width: 90%;
        list-style-type: none;
        margin-top: 5rem;
    }

    #chat_messages li { 
        padding: 5px 20px;
        width:85%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
    }

    #chat_messages li:nth-child(even) { 
        background-color: ivory;
    }

    #chat_messages li:nth-child(odd) { 
        background: #fff;
    }

    #chat_form {
        position: fixed;
        top: 0;
        border: 0; 
        right: 10%;
        left: 10%;
    }

    #chat_form input {
        border: 0; 
        height: 3.5rem;
        width: 79%; 
        font-size: 2rem;
        padding: 0.5rem; 
        background-color: cornsilk;
    }

    #chat_form button {
        border: 0; 
        height:3.5rem;
        width: 20%;
        font-size: 2rem;
        padding: 0.5rem;
        background: rgb(130, 224, 255);
        border: none; 
        margin-left: .3%; 
    }

    .chat_user {
        color: red;
    }

    .chat_date {
        font-size: 1rem;
        font-style: italic;
        color: silver;
    }

</style>

<div id="chat_window">
    <ul id="chat_messages"></ul>
    <form id="chat_form" action="">
        <input id="m" autocomplete="off" type="text" /><button>Send</button>
    </form>
</div>

<script>
    (function(){
        if (player_status == GAME_PLAY || player_status == GAME_WAIT)
        {
            socket.emit('leave');
            player_status = GAME_VISIT;
        }

        $('form').off('submit');
        $('form').on('submit', function(){
            socket.emit('chat_message', JSON.stringify({
                sender: user_name,    
                msg: $('#m').val(),
                date: new Date().toLocaleString()
            }));

            //console.log('！'+ $('#m').val());
            $('#m').val('');

            return false;
        });

        // 初始化聊天记录
        if ($('#chat_messages').is(':empty'))
        { 
            socket.emit('get_chat_history', {
                currentPage: 0,
                countPerPage: 30
            });
        }

        socket.off('get_chat_history');
        socket.on('get_chat_history', function(msg_list){
            console.log(msg_list);
            let chat_messages_dom = $('#chat_messages');
            for (let i=0;i<msg_list.length;i++)
            {
                let data = JSON.parse(msg_list[i]);
                chat_messages_dom.prepend($('<li>').html('<span class="chat_user">' + data.sender + '</span>: ' + data.msg + '<span class="chat_date">    ----- in ' + data.date + '</span>'));
            }
        });

        socket.off('chat_message');
        socket.on('chat_message', function(data_str){
            let data = JSON.parse(data_str);
            let chat_messages_dom = $('#chat_messages');
            chat_messages_dom.prepend($('<li>').html('<span class="chat_user">' + data.sender + '</span>: ' + data.msg + '<span class="chat_date">    ----- in ' + data.date + '</span>'));
            // console.log('#'+ data.sender + ': ' + data.msg);
        });
    })();
</script>