<style type="text/css">

    * {
        box-sizing: border-box;
    }

    #chat_window {
        display: flex;
        justify-content: center;
        list-style-type: none;
        box-sizing: border-box;
        font-size: 2rem;
        margin-left: 100px;
    }

    #messages {
        display: flex;
        flex-direction: column;
        width: 90%;
        list-style-type: none;
        margin-top: 5rem;
    }

    #messages li { 
        padding: 5px 20px;
        width:85%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
    }

    #messages li:nth-child(even) { 
        background-color: ivory;
    }

    #messages li:nth-child(odd) { 
        background: #fff;
    }

    #chat_form {
        position: fixed;
        top: 0;
        border: 0; 
        right: 10%;
        left: 10%;
    }

    #chat_form input {
        border: 0; 
        height: 3.5rem;
        width: 79%; 
        font-size: 2rem;
        padding: 0.5rem; 
        background-color: cornsilk;
    }

    #chat_form button {
        border: 0; 
        height:3.5rem;
        width: 20%;
        font-size: 2rem;
        padding: 0.5rem;
        background: rgb(130, 224, 255);
        border: none; 
        margin-left: .3%; 
    }

</style>

<div id="chat_window">
    <ul id="messages"></ul>
        <form id="chat_form" action="">
            <input id="m" autocomplete="off" type="text" /><button>Send</button>
        </form>
</div>

<script>
    (function(){
        if (player_status == GAME_PLAY || player_status == GAME_WAIT)
        {
            socket.emit('leave');
            player_status = GAME_VISIT;
        }

        $('form').submit(function(){
            socket.emit('chat_message', {
                sender: user_name,    
                msg: $('#m').val()
            });

            //console.log('！'+ $('#m').val());
            $('#m').val('');

            return false;
        });

        socket.off('chat_message');
        socket.on('chat_message', function(data){
            $('#messages').prepend($('<li>').text(data.sender + ': ' + data.msg));

            console.log('#'+ data.sender + ': ' + data.msg);
        });
    })();
</script>