<style type="text/css">
    .generals_title {
        display: flex;
        justify-content: center;
    }

    .generals_main_title {
        margin-top:12%;
        font-size: 4rem;
        color: black;
        text-align: center;
        text-shadow: 2px 2px blue;
        font-family: Quicksand-Bold;
    }
    
    #div_name_input {
        display: flex;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #name_input {
        width:40%;
        height: 50px;
        font-size: 2rem;
        text-align:center;
        color: darkgreen;
    }

    #name_input::-webkit-input-placeholder {
        text-align: center;
        color: grey;
        text-shadow: 1px 1px lightblue;
    }

</style>

<div class="generals_title"><h1 class="generals_main_title">五&nbsp;&nbsp;&nbsp;子&nbsp;&nbsp;&nbsp;棋</h1></div>
<div id="div_name_input"><input id="name_input" style='text' placeholder="请输入您的昵称" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的昵称'"></input></div>
<div class="div_button"><button class="button">START</button></div>

<script>

    (function(){
        if ($.cookie('user_name'))
            $('#name_input').val($.cookie('user_name'));
        
        if (player_status == 1 || player_status == 2) // 游戏中或者等待中
        {
            socket.emit('leave');
            player_status = 0;
        }

        $('.button').off('click');
        $('.button').on('click', function(){
            $.pjax({
                url: '/waiting',
                container: '#container'
            });
            user_name = $('#name_input').val();
            if (user_name == '') user_name = '(｡･∀･)ﾉﾞ';
            $.cookie('user_name', null);
            $.cookie('user_name', user_name, { expires: 365 });
        });

        player_status = 0;
    })();


</script>
