<style type="text/css">
    #generals_title {
        position: absolute;
        text-align: center;
        font-size: 3rem;
        top: 36%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #generals_main_title {
        margin-top:12%;
        font-size: 4rem;
        color: black;
        text-align: center;
        text-shadow: 2px 2px blue;
        font-family: Quicksand-Bold;
    }
    
    #div_name_input {
        margin-top: 1%;
        margin-bottom: 3%;
        position: absolute;
        text-align: center;
        font-size: 3rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #name_input {
        width:100%;
        height: 50px;
        font-size: 2rem;
        text-align:center;
        color: darkgreen;
    }

    #name_input::-webkit-input-placeholder {
        text-align: center;
        color: grey;
        text-shadow: 1px 1px lightblue;
    }

    #start_button {
        position: absolute;
        text-align: center;
        font-size: 3rem;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

</style>

<div id="generals_title"><h1 id="generals_main_title">五&nbsp;&nbsp;&nbsp;子&nbsp;&nbsp;&nbsp;棋</h1></div>
<div id="div_name_input"><input id="name_input" style='text' placeholder="请输入您的昵称" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的昵称'"></input></div>
<div id="start_button" class="div_button"><button class="button">START</button></div>

<script>

    (function(){
        var name_input = $('#name_input');
        
        if ($.cookie('user_name'))
        {
            name_input.val($.cookie('user_name'));
            user_name = $.cookie('user_name');
        }
        
        if (player_status == GAME_PLAY || player_status == GAME_WAIT) // 游戏中或者等待中
        {
            socket.emit('leave');
            player_status = GAME_VISIT;
        }

        name_input.off('blur');
        name_input.on('blur', function(){
            if (name_input.val() != '') 
            {
                user_name = name_input.val();
                $.cookie('user_name', null);
                $.cookie('user_name', user_name, { expires: 365 });
            }
            else
                name_input.val($.cookie('user_name'));
        });

        $('.button').off('click');
        $('.button').on('click', function(){
            $.pjax({
                url: '/room_list',
                container: '#container'
            });
        });

        player_status = GAME_VISIT;
    })();


</script>
