<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>generals</title>
        <style type="text/css">
            #container {
                display: flex;
                flex-direction: column;
            }

        </style>
    </head>

    <body>
        <div id="container"></div>
		<div id="socket_container"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.js"></script>
		<script>
			function randomString(len) {
				var len = len || 32;
				var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';    /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
				var maxPos = chars.length;
				var pwd = '';
				for (var i = 0; i < len; i++) {
					pwd += chars.charAt(Math.floor(Math.random() * maxPos));
				}
				return pwd;
			}

			$(function(){
				$.pjax({
					url: '/generals',
					container: '#container'
				});
			});
		</script>
    </body>
</html>
