<style type="text/css">

    #ranking_div_title, #ranking_div_list {
        display: flex;
        justify-content: center;
    }


    #ranking_div_list {
        margin-bottom: 15rem;
    }

    #ranking_title {
        font-size: 2rem;
    }

    #ranking_list{
        font-size: 1.2rem;
        text-align: center;
        table-layout:fixed;
    }


    #ranking_list tr:nth-child(odd) { 
        background-color: ivory;
        height: 2rem;
    }

    #ranking_list tr:nth-child(even) { 
        background: #fff;
        height: 2rem;
    }

    #ranking_list td {
        word-wrap:break-word;
        word-break:break-all;
    }

    #ranking_list tr td:nth-child(1) {
        width: 10rem;
    }

    #ranking_list tr td:nth-child(2) {
        width: 45rem;
    }

    #ranking_list tr td:nth-child(3) {
        width: 10rem;
    }

</style>


<div id="ranking_div_title">
    <p id="ranking_title">排行榜</p>
</div>
<div id="ranking_div_list">
    <table id="ranking_list">
        <tr>
            <th>名次</th>
            <th>用户名</th>
            <th>生命</th>
        </tr>
    </table>
</div>
    
</div>


<script>
    (function(){
        if (player_status == GAME_PLAY || player_status == GAME_WAIT)
        {
            socket.emit('leave');
            player_status = GAME_VISIT;
        }

        socket.emit('player_rank', {
            currentPage: 0,
            countPerPage: 50
        });

        socket.off('player_rank');
        socket.on('player_rank', function(data){
            console.log(data);
            $('.rank_data').remove();
            var rank_list = $('#ranking_list');
            var len = data.length;
            for (var i=0; i<len; i++)
            {
                var score = data[i].score;
                if (score>=0)
                    score = "+" + score;
                rank_list.append('<tr class="rank_data"><td>'+(i+1)+'</td><td>'+data[i].name+'</td><td>'+score+'s</td></tr>');
            }
        });


    })();
</script>