<style type="text/css">

    #ranking_div_title, #ranking_div_list, #ranking_page {
        display: flex;
        justify-content: center;
    }


    #ranking_div_list {
        margin-bottom: 5rem;
    }

    #ranking_title {
        font-size: 2rem;
    }

    #ranking_list{
        font-size: 1.2rem;
        text-align: center;
        table-layout:fixed;
    }


    #ranking_list tr:nth-child(odd) { 
        background-color: ivory;
        height: 2rem;
    }

    #ranking_list tr:nth-child(even) { 
        background: #fff;
        height: 2rem;
    }

    #ranking_list td {
        word-wrap:break-word;
        word-break:break-all;
    }

    #ranking_list tr td:nth-child(1) {
        width: 10rem;
    }

    #ranking_list tr td:nth-child(2) {
        width: 45rem;
    }

    #ranking_list tr td:nth-child(3) {
        width: 10rem;
    }

    #ranking_page button{
        margin: 1rem;
        font-size: 1rem;
        width: 5rem;
        height: 2.4rem;
    }

    #ranking_page button:hover{
        height: 2rem;
    }

</style>


<div id="ranking_div_title">
    <p id="ranking_title">排行榜</p>
</div>

<div id="ranking_div_list">
    <table id="ranking_list">
        <tr>
            <th>名次</th>
            <th>用户名</th>
            <th>生命</th>
        </tr>
    </table>
</div>
<div id="ranking_page">
    <button id="head_page" class="button">首页</button>
    <button id="pre_page" class="button">上一页</button>
    <button id="next_page" class="button">下一页</button>
</div>


<script>
    (function(){
        var cur_page = 0;
        var count_per_page = 40;

        if (player_status == GAME_PLAY || player_status == GAME_WAIT)
        {
            socket.emit('leave');
            player_status = GAME_VISIT;
        }

        socket.emit('player_rank', {
            currentPage: 0,
            countPerPage: count_per_page
        });

        socket.off('player_rank');
        socket.on('player_rank', function(data){

                //console.log(cur_page);
                //console.log("len:"+data.length);
            var len = data.length;
            if (cur_page<0) {   //已到首页
                cur_page = 0;
            }
            else if (len <= 0) {    //已到尾页
                alert('没有更多数据！');
                cur_page--;
            }
            else{
                var rank_list = $('#ranking_list');
                $('.rank_data').remove();
                for (var i=0; i<len; i++)
                {
                    var score = data[i].score;
                    if (score>=0)
                        score = "+" + score;
                    rank_list.append('<tr class="rank_data"><td>'+(cur_page*count_per_page+i+1)+'</td><td>'+data[i].name+'</td><td>'+score+'s</td></tr>');
                }
            }
        });

        $('#ranking_page').off('click');
        $('#ranking_page').on('click', '#head_page', function(){
            socket.emit('player_rank', {
                currentPage: 0,
                countPerPage: count_per_page
            });
            cur_page = 0;
        })

        $('#ranking_page').on('click');
        $('#ranking_page').on('click', '#pre_page', function(){
            socket.emit('player_rank', {
                currentPage: cur_page-1,
                countPerPage: count_per_page
            });
            cur_page--;
        })

        $('#ranking_page').on('click', '#next_page', function(){
            socket.emit('player_rank', {
                currentPage: cur_page+1,
                countPerPage: count_per_page
            });
            cur_page++;
        })

    })();
</script>