<style type="text/css">
    .wait_content {
        position: absolute;
        text-align: center;
        font-size: 3rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


    .wait_info {
        color: red;
    }

</style>

<div class="wait_content">
    <div class="wait_info">Waiting...</div>
    <div id="waiting_people">N</div>
</div>



<script>

    (function(){
        // console.log('waiting...');

        if (player_status == GAME_WAIT) // 已经在等待中
            return;
        else if (player_status == GAME_PLAY) // 已经在游戏中
            socket.emit('leave');
        else if (player_status == GAME_VISIT) // 未游戏
        {
            socket.open();

            socket.off('game_start');
            socket.on('game_start', function(){
                console.log('game_start');
                player_status = GAME_PLAY; // 开始游戏
                $.pjax({
                    url: '/battle',
                    container: '#container'
                });
            });

            socket.off('game_waiting');
            socket.on('game_waiting', function(data){
                console.log('game_waiting');
                var room_id = data.room_id;
                var player_number = data.player_number;
                console.log(room_id, player_number);
                $('#waiting_people').text(player_number);
            });
        }
        
        console.log(user_name);
        socket.emit('join', user_name);
        player_status = GAME_WAIT; // 进入等待
    })();
 

</script>